<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.full_name}}" placeholder="Full Name"
            name="full_name">
        <label for="floatingInput">Full Name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.job_title}}" placeholder="Job Title"
            name="job_title">
        <label for="floatingInput">Job Title</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.phone_number}}" placeholder="Phone"
            name="phone_number">
        <label for="floatingInput">Phone</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="email@email.com"
            name="email">
        <label for="floatingInput">Email</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.primary_contact}}"
            placeholder="Primary Contact" name="primary_contact">
        <label for="floatingInput">Primary Contact</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.primary_number}}"
            placeholder="Primary Number:" name="primary_number">
        <label for="floatingInput">Primary Number</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.primary_relation}}"
            placeholder="Primary Relation" name="primary_relation">
        <label for="floatingInput">Primary Relation</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.secondary_contact}}"
            placeholder="Primary Contact" name="secondary_contact">
        <label for="floatingInput">Secondary Contact</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.secondary_number}}"
            placeholder="Secondary Number:" name="secondary_number">
        <label for="floatingInput">Secondary Number</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.secondary_relation}}"
            placeholder="Secondary Relation" name="secondary_relation">
        <label for="floatingInput">Secondary Relation</label>
    </div>
</div>

<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>